@import url('https://db.onlinewebfonts.com/c/88c7cb10b703e0d8910b82df15e0cde5?family=Segoe+WP');

:root {
    --font-primary: "Segoe WP","Segoe UI",sans-serif;
    --font-display: var(--font-primary);
    .channelName-3KPsGw {
        font-size: 14px;
    }
}
